<!-- <app-navbar></app-navbar>
<app-about-page></app-about-page>
<app-service></app-service>
<app-service></app-service>
<app-service></app-service>
<app-footer></app-footer> -->
<!-- {{name + getAge()}}

{{5+3}}
<div class={{className}}></div>

<a href="/about/home/{{id}}">home</a>

<input (keyup)="0" #data>
{{data.value}}

{{user.name}}

<div [className]="'c1'"></div>
<p [innerText]="d"></p> -->

<input [className]="getErrorState()? 'err' :'notErr'">

<button (click)="changeState()">change</button>
<!-- <input [class.err]="getErrorState()" [class.notErr]="!getErrorState()"> -->

















